*{
    padding: 0;
    margin:0;
   
 }

 .header{
   padding: 2% 0% 10% 15%;
 }

 /* Cabecera */
 .cabecera__iconos__item{
    display: flex;
    justify-content: space-between;
    margin-left: 600px;
 }
 
 .container {
  display: grid;
  grid-template-rows: repeat(6, 20%); /* Creates 3 equal-width columns */
  margin-top: 0;
/* display: flex;
flex-direction: column; /* or row if you want horizontal layout */
}

 /* Seccion 1 informacion general */
 .informacion_General{
   background-color: lightblue;
   display: grid;
   gap: 30px;
  /* grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */ 
   padding: 5% 20%; 
 }

h1 {
     margin-top: 20px; /* Adjust the value as needed */
   }

p {
     margin-top: 20px; /* Adjust the value as needed */
   }


 .iconos_Informacion{
    display: flex;
    gap: 120px;
 }
 
 .Juan_Sebastian{
    border-radius: 40px 40px 40px 40px;
    width: 50px;
    height: 50px;
    /* margin-left: 150%;
     margin-top: -1200px; */
 }
 
.sobre_mi {
   background-color: lightcoral;
   display: flex;
   padding: 10% 10%;
   justify-content: space-between;
   gap: 10%;
}

.skills {
   background-color: lightgreen;
}
   
 .Formacion_academica {
   background-color: lavender;
 }

 .experiencia_profesional {
   background-color: slategray;
 }

 .contacto{
   background-color: lightpink;
 }
 
