*{
    padding: 0;
    margin:0;
   
 }

 .header{
   padding: 2% 0% 10% 15%;
 }

 /* Cabecera */
 .cabecera__iconos__item{
    display: flex;
    justify-content: space-between;
    margin-left: 600px;
 }
 
 .container {
  display: grid;
  grid-template-rows: repeat(6, 30%); /* Creates 3 equal-width columns */
  margin-top: 0;
/* display: flex;
flex-direction: column; /* or row if you want horizontal layout */
}

 /* Seccion 1 informacion general */
 .informacion_General{
   display: flex; /* Enable flexbox for the inner container to align items side-by-side */
   background-color: rgb(204, 221, 209);
   /*display: grid;*/
   /* grid-template-columns: 1fr 1fr; */
   gap: 5px;
  /* grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */ 
   padding: 3% 20%; 
 }

h1 {
     margin-top: 20px; /* Adjust the value as needed */
   }

p {
     margin-top: 20px; /* Adjust the value as needed */
   }


 .iconos_Informacion{
    display: flex;
    gap: 120px;
 }
 
 .Juan_Sebastian{
    border-radius: 40px 40px 40px 40px;
    width: 150px;
    height: 150px;
    /* margin-left: 150%;
    margin-top: -1200px; */
 }
 
.sobre_mi {
   background-color: rgb(233, 218, 218);
   padding: 3% 20%;
   justify-content: space-between;
   gap: 10%;
}

.skills {
   background-color: lightgreen;
   padding: 3% 20%;
}
   
 .Formacion_academica {
   background-color: lavender;
   padding: 3% 20%;
 }

 .experiencia_profesional {
   background-color: slategray;
   padding: 3% 20%;
 }

 .contacto{
   background-color: lightpink;
   padding: 3% 20%;
 }
 
